In [5]:
import pandas as pd 
import mysql.connector as connection

In [7]:
mydb = connection.connect(host = 'localhost', user = 'root', password = 'Sneha@11', use_pure = True)

In [8]:
query = 'create database eshopdataset;'
cursor = mydb.cursor()

In [9]:
cursor.execute(query)

In [10]:
mydb.close()

In [12]:
from sqlalchemy import create_engine
df = pd.DataFrame(pd.read_csv(r"D:\ML_Pipeline\notebooks\newdataset.csv"))

In [13]:
df.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,model photography,price,page
0,2008,April,1,1,Poland,1,trousers,A13,beige,1,28,1
1,2008,April,1,2,Poland,1,trousers,A16,beige,1,33,1
2,2008,April,1,3,Poland,1,skirts,B4,olive,1,52,1
3,2008,April,1,4,Poland,1,skirts,B17,gray,2,38,1
4,2008,April,1,5,Poland,1,skirts,B8,brown,2,52,1

In [43]:
from sqlalchemy import create_engine
import urllib.parse

# Your password containing special characters like '@'
password = "Sneha@11"

# URL encode the password
encoded_password = urllib.parse.quote_plus(password)

# Define your database connection URL, including the encoded passwor

In [46]:
from sqlalchemy import create_engine
# engine = create_engine(f"mysql://{user_name}:{password}@{"localhost"}/{"Database_name"}")
engine = create_engine(f'mysql://{"root"}:{encoded_password}@{"localhost"}/{"eshopdataset"}')
table_name = "eshopdata"

In [47]:
try: 
    df.to_sql(name = table_name, con = engine, if_exists = 'append', index = False)
    print("Data entered successfully")
except Exception as e: 
    print(e)

Data entered successfully

Fetching the data from the database

In [48]:
query = "SELECT * From eshopdata"
df1 = pd.read_sql(query, engine)
print(df1)

        year   month  day  order         country  session ID  \
0       2008   April    1      1          Poland           1
1       2008   April    1      2          Poland           1
2       2008   April    1      3          Poland           1
3       2008   April    1      4          Poland           1
4       2008   April    1      5          Poland           1
...      ...     ...  ...    ...             ...         ...
165469  2008  August   13      1          Poland       24024
165470  2008  August   13      1  Czech Republic       24025
165471  2008  August   13      1        Slovakia       24026
165472  2008  August   13      2        Slovakia       24026
165473  2008  August   13      3        Slovakia       24026

       page 1 (main category) page 2 (clothing model) colour  \
0                    trousers                     A13  beige
1                    trousers                     A16  beige
2                      skirts                      B4  olive
3                      skirts                     B17   gray
4                      skirts                      B8  brown
...                       ...                     ...    ...
165469                 skirts                     B10  black
165470               trousers                     A11   blue
165471               trousers                      A2   blue
165472                blouses                      C2    red
165473                 skirts                      B2   blue

        model photography  price  page
0                       1     28     1
1                       1     33     1
2                       1     52     1
3                       2     38     1
4                       2     52     1
...                   ...    ...   ...
165469                  1     67     1
165470                  1     62     1
165471                  1     43     1
165472                  1     43     1
165473                  2     57     1

[165474 rows x 12 columns]

In [50]:
df1.dtypes

year                        int64
month                      object
day                         int64
order                       int64
country                    object
session ID                  int64
page 1 (main category)     object
page 2 (clothing model)    object
colour                     object
model photography           int64
price                       int64
page                        int64
dtype: object