In [4]:
import pandas as pd 
import mysql.connector as connection

In [5]:
mydb = connection.connect(host = 'localhost', user = 'root', password = 'Sneha@11', use_pure = True)

In [6]:
query = 'create database eshopdataset;'
cursor = mydb.cursor()

In [ ]:
cursor.execute(query)

In [8]:
mydb.close()

In [9]:
from sqlalchemy import create_engine
df = pd.DataFrame(pd.read_csv(r"D:\ML_Pipeline\notebooks\newdataset.csv"))

In [10]:
df.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,model photography,price,page
0,2008,April,1,1,Poland,1,trousers,A13,beige,1,28,1
1,2008,April,1,2,Poland,1,trousers,A16,beige,1,33,1
2,2008,April,1,3,Poland,1,skirts,B4,olive,1,52,1
3,2008,April,1,4,Poland,1,skirts,B17,gray,2,38,1
4,2008,April,1,5,Poland,1,skirts,B8,brown,2,52,1

In [11]:
from sqlalchemy import create_engine
import urllib.parse

# Your password containing special characters like '@'
password = "Sneha@11"

# URL encode the password
encoded_password = urllib.parse.quote_plus(password)

# Define your database connection URL, including the encoded passwor

In [12]:
from sqlalchemy import create_engine
# engine = create_engine(f"mysql://{user_name}:{password}@{"localhost"}/{"Database_name"}")
engine = create_engine(f'mysql://{"root"}:{encoded_password}@{"localhost"}/{"eshopdataset"}')
table_name = "eshopdata"

In [13]:
try: 
    df.to_sql(name = table_name, con = engine, if_exists = 'append', index = False)
    print("Data entered successfully")
except Exception as e: 
    print(e)

Data entered successfully

Fetching the data from the database

In [14]:
query = "SELECT * From eshopdata"
df1 = pd.read_sql(query, engine)
print(df1)

        year   month  day  order         country  session ID  \
0       2008   April    1      1          Poland           1
1       2008   April    1      2          Poland           1
2       2008   April    1      3          Poland           1
3       2008   April    1      4          Poland           1
4       2008   April    1      5          Poland           1
...      ...     ...  ...    ...             ...         ...
330943  2008  August   13      1          Poland       24024
330944  2008  August   13      1  Czech Republic       24025
330945  2008  August   13      1        Slovakia       24026
330946  2008  August   13      2        Slovakia       24026
330947  2008  August   13      3        Slovakia       24026

       page 1 (main category) page 2 (clothing model) colour  \
0                    trousers                     A13  beige
1                    trousers                     A16  beige
2                      skirts                      B4  olive
3                      skirts                     B17   gray
4                      skirts                      B8  brown
...                       ...                     ...    ...
330943                 skirts                     B10  black
330944               trousers                     A11   blue
330945               trousers                      A2   blue
330946                blouses                      C2    red
330947                 skirts                      B2   blue

        model photography  price  page
0                       1     28     1
1                       1     33     1
2                       1     52     1
3                       2     38     1
4                       2     52     1
...                   ...    ...   ...
330943                  1     67     1
330944                  1     62     1
330945                  1     43     1
330946                  1     43     1
330947                  2     57     1

[330948 rows x 12 columns]

In [15]:
df1.dtypes

year                        int64
month                      object
day                         int64
order                       int64
country                    object
session ID                  int64
page 1 (main category)     object
page 2 (clothing model)    object
colour                     object
model photography           int64
price                       int64
page                        int64
dtype: object

In [16]:
file_path = 'D:/ML_Pipeline/notebooks/data/newdataset.csv'

In [17]:
df1.to_csv(file_path, index=False)